* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/Bengal\ In\ Monsoon.jfif") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 22px;
}

.sites-grid-section {
    padding: 80px 8%;
}

.sites-grid-section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: #0b3d2e;
}

.sites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.site-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.site-card:hover {
    transform: translateY(-10px);
}

.site-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: left;
}

.card-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0b3d2e;
}

.card-content p {
    font-size: 16px;
    line-height: 1.5;
}

.site-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 80px 8%;
    background: white;
}

.alternate {
    background: #edf6f3;
}

.site-info {
    flex: 1;
}

.site-info h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #0b3d2e;
}

.site-info p {
    font-size: 18px;
}

.video-container {
    flex: 1;
}

.video-container iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 12px;
}

@media(max-width: 768px) {
    .hero-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}