* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background: #f3ddca;
    top: 0;
}

.logo h2 {
    color: #8b5e34;
    font-size: 32px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #c28b34;
}

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.black {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}

.hero-content {
    position: absolute;
    z-index: 2;
    text-align: left;
    color: white;
    width: 80%;
}

.hero-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-content button {
    background: #c28b34;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background: #9f6d20;
    transform: scale(1.05);
}

.featured-products {
    padding: 90px 8%;
    background: linear-gradient(to bottom, #fffdf8, #f7f3eb);
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h1 {
    font-size: 45px;
    color: #222;
    margin-bottom: 10px;
    position: relative;

}

.section-title p {
    color: #666;
    font-size: 17px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.product-card {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.product-image {
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 280px;
    transition: 0.4s;
}

.product-card:hover img {
    transform: scale(1.08);
}

.product-info {
    padding: 25px;
}

.product-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    color: #c28b34;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-info button {
    background: #c28b34;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.product-info button:hover {
    background: #9f6d20;
    transform: scale(1.05);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

footer h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 8px;
}

.copyright {
    margin-top: 15px;
    color: #bbb;
}

@media(max-width:768px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}